In [1]:
print(123)

123

In [2]:
for v in range(0, 10):
    print(123)

123
123
123
123
123
123
123
123
123
123

In [5]:
a = [1,2,3,4,5]

In [6]:
type(a)

list

In [8]:
b = [x for x in (0, 10)]

In [9]:
list(range(0, 20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [10]:
range(0 , 20)

range(0, 20)

In [11]:
for v in range(0, 20, 1):
    print(v)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [20]:
a = [1,3,4, 5, 7, 9, 9, 96]
a[::3]

[1, 5, 9]

In [21]:
import copy

In [22]:
a = [1,2,3]
b = [34,5,6]
c = [a, b]

In [23]:
t = c

In [25]:
id(a), id(b), id(c), id(t)

(140214645114568, 140214645116680, 140214644614088, 140214644614088)

In [26]:
c = [b, b]

In [27]:
c

[[34, 5, 6], [34, 5, 6]]

In [28]:
t

[[1, 2, 3], [34, 5, 6]]

In [29]:
shallow_copy = copy.copy(c)

In [30]:
id(shallow_copy)

140214645081864

In [31]:
deep_copy = copy.deepcopy(c)

In [37]:
id(c[0]), id(shallow_copy[0])

(140214645116680, 140214645116680)

In [36]:
id(deep_copy[0])

140214644615624

In [38]:
[], ()

([], ())

In [39]:
a, b =[1,2,3], (1,2,3)

In [42]:
a[0] = 2

In [43]:
b[0] =2

TypeError: 'tuple' object does not support item assignment

In [44]:
class A:
    name  = "Some name"
    action = "jiump"
class B:
    name  = "Some name"
    action = "jiump"
a = [A, B]

In [45]:
a

[__main__.A, __main__.B]

In [47]:
list(a
    )

[1, 3, 3, 5, 5, 6, 6, 7, 7]

In [48]:
a

[1, 3, 3, 5, 5, 6, 6, 7, 7]

In [52]:
def func():
    print('show array')
    print(a)

In [53]:
func()

show array
[1, 3, 3, 5, 5, 6, 6, 7, 7]

In [54]:
def func(a, b):
    print(a, b)

In [55]:
func(1, 2)

1 2

In [56]:
a = lambda x : print(x)

In [57]:
a(1)

1

In [59]:
a = sorted( ['dima', 'vlad', 'arslan'], key= lambda x:  x[2])

['vlad', 'dima', 'arslan']

In [62]:
str(5)

'5'

In [63]:
from random import randint

In [64]:
randint(0, 9)

1

In [65]:
a = []

In [66]:
for v in range(0, 10):
    a.append(v)

In [67]:
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [70]:
def func():
    return [1,2,3,4,54]

In [71]:
func()

[1, 2, 3, 4, 54]

In [85]:

def func():
    a = [ ]
    for v in range(0, 100):
        a.append(v)
    return a

In [88]:
if __name__ == "__main__":
    print(func())

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [95]:
def func():
    a = [ ]
    for v in range(0, 100):
        a.append(randint(0, 1000))
    return list(sorted(a))

In [93]:
func()

[617,
 166,
 73,
 283,
 841,
 688,
 635,
 315,
 234,
 697,
 647,
 236,
 749,
 695,
 712,
 692,
 243,
 40,
 229,
 624,
 138,
 555,
 240,
 23,
 424,
 762,
 388,
 552,
 921,
 373,
 901,
 127,
 757,
 544,
 610,
 483,
 787,
 678,
 980,
 207,
 749,
 11,
 924,
 712,
 73,
 388,
 254,
 614,
 694,
 241,
 867,
 1,
 707,
 873,
 303,
 144,
 91,
 439,
 51,
 356,
 287,
 668,
 138,
 146,
 564,
 897,
 574,
 394,
 936,
 257,
 465,
 572,
 154,
 284,
 88,
 828,
 205,
 751,
 843,
 153,
 135,
 639,
 562,
 576,
 947,
 469,
 830,
 863,
 202,
 635,
 414,
 12,
 877,
 28,
 553,
 637,
 479,
 146,
 158,
 841]

In [103]:
dict1 = {"key" : 123, 'key1' : 123123, 'key3': 123456}
dict1.values()

dict_values([123, 123123, 123456])

In [104]:
dict1['key']

123

In [111]:
for x, y in a.items():
    print(x, y)

dict1.items()

key 123
key1 123123
key3 123456

dict_items([('key', 123), ('key1', 123123), ('key3', 123456)])

In [113]:
" ".join(['asd', 'qwe', 'rte'])

'asd qwe rte'